/*this is new stylesheet*/
.title {
    font-size: 18pt;
    color: orangered;
    font-weight: bold;
}

.time {
    font-size: 10pt;
    color: darkgray;
}

.image img {
    max-width: 800px;
    border: none;
}

.short-description {
    font-weight: bold;
}

.author {
    font-weight: bold;
    text-align: right;
}