@model IEnumerable<NewsManagement.News>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<style>
    .news-list-item {
        margin: 10px 0;
        padding: 5px;
        clear: both;
    }
    .news-list-image {
        float: left;
        clear: both;
        margin-right: 10px;
    }
    .news-list-image img {
        border: none;
        height: 150px;
        width: 150px;
    }
    .news-list-title {
        font-weight: bold;
        font-size: 13pt;
        margin-bottom: 5px;
    }
    .news-list-short {
        color: darkslategray;
    }
</style>

@foreach (var item in Model) {
<div class="news-list-item">
    <div class="news-list-image"><img src="@item.ImageUrl" /></div>
    <div class="news-list-title"><a href="@NewsManagement.Controllers.PublicNewsController.EncodeUrl(item)" >@item.Title</a></div>
    <div class="news-list-short">@item.ShortDesc</div>
    </div>
}

